<!DOCTYPE html>
<html lang="en">
<center>
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <form method="post" action="/signup">


              <h1>
                Create an account
              </h1>
              <h2>

              <p >
                Please fill up your information below to sign up.
              </p>

              <div >
              <div > 
              </h2>

                <h3>
                <label>Email address</label>
                <div>
                  <input type="email"  name="email" id="emailStr" required>
                  <div>
                <label>Name</lable>
                  </div>
                  <div>
                  <input type="text" name="name">
                  </div>
                  <div >

                  </div>
                </div>

              </div>

              <div >

                <label>Password</label>
                <div class="input-group">
                  <input type="password"  name="password" minlength="6">

                  <div>

                  </div>
                </div>

              </div>

              <div >

                <div >

                  <div >
                 <input type="submit" name="menu">
                  </div>

                </div>
              </div> 
              </div>
            </h3>

    </form>
    <br>

        <a href="/">Already have an account? Sign in here.</a>
        <br>

</center>
</body>
</html>