<!DOCTYPE html>
<html lang="en">
<center>
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
</head>
<body>
    <form method="post" action="/">


              <h1>
                welcome! sign in to your account
              </h1>
              <h2>

              <p >
                Please fill up your information below to sign in.
              </p>
            </h2>

              <div >

              <div >
                <h3>
                <label>Email address</label>
                <div>
                  <input type="email"  name="email" id="emailStr" required>
                  <div >

                  </div>
                </div>

              </div>

              <div >

                <label>Password</label>
                <div class="input-group">
                  <input type="password"  name="password" minlength="6">
                 <div>
                  </div>
                </div>

              </div>

              <div >

                <div >

                  <div >
                    <input type="submit" name="menu" onclick="/menu" >
                  </div>

                </div>
              </div> 

              </div>
    </form>
        <br>
                  <a href="/signup">you don't have an account? Sign up now.</a>
                </h3>

</center>                 
</body>
</html>
